<div class="page_container">
  <h1>Tweet Right from Here</h1>
  <form id="tweet_form" action='/tweet' method ="POST">
    <input id="tweet_text" type="text" name="tweet_text" placeholder="Enter Tweet Here" required><br><br>
    <input id="tweet_button" type="submit" value="Tweet It!">
  </form>
  <p id="working">Working on it...</p>
  <p id="success">Success!</p>
  <p id="error">Something went wrong :(</p>
</div>


